/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */
$theme-fonts-sizes: (
  sm: 14px,
  md: 16px,
  l: 20px,
  xl: 24px,
  2xl: 28px,
  3xl: 32px,
);

$font-weights: (
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);
