.splash-logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  width: 70px;
}

.splash-loader,
.splash-loader:before,
.splash-loader:after {
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  vertical-align: middle;
  background: rgba($color: #406ab3, $alpha: 0.7);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader {
  background: transparent;
}

.splash-loader:before {
  content: "";
  animation: bounce 1.5s infinite;
}
.splash-loader:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

.splash-screen {
  background-color: rgba($color: #000, $alpha: 0.7);
  height: 100%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3000;
}
